@model EvaluationCrm.Models.entity.Parameter
@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Parameter Threshold Alert</title>
</head>

<body class="bg-light">
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header text-center bg-primary text-white">
            <h2>Edit Parameter Threshold Alert</h2>
        </div>
        <div class="card-body">
            <form asp-controller="Parameter" asp-action="Edit" method="post">
                <div class="mb-3">
                    <label asp-for="parameterKey" class="form-label">Parameter Key</label>
                    <input asp-for="parameterKey" class="form-control" readonly="readonly" />
                </div>
                
                <div class="mb-3">
                    <label asp-for="parameterValue" class="form-label">Valeur</label>
                    <input asp-for="parameterValue" type="number" class="form-control" />
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </form>
        </div>
    </div>
</div>

</body>

</html>
